# AWS SDK dependencies
boto3==1.36.16
botocore==1.36.16
s3transfer==0.11.2
jmespath==1.0.1
python-dateutil==2.9.0.post0

# Azure SDK dependencies
azure-mgmt-resource==20.0.0
azure-mgmt-subscription==1.0.0
azure-mgmt-authorization==1.0.0
azure-mgmt-keyvault==9.0.0
azure-mgmt-eventhub==8.0.0
azure-mgmt-servicebus==7.0.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-dns==3.0.0
azure-mgmt-monitor==1.0.0
azure-mgmt-loganalytics==0.1.0  
azure-common==1.1.28
azure-core==1.32.0
azure-identity==1.19.0
azure-mgmt-core==1.5.0
azure-mgmt-network==28.1.0
azure-mgmt-compute==34.0.0
azure-mgmt-storage==22.0.0
azure-storage-blob==12.19.1


# Azure authentication helpers
msal==1.31.1
msal-extensions==1.2.0
portalocker==2.10.1

# Security & parsing dependencies
cryptography==44.0.0
cffi==1.17.1
pycparser==2.22
PyJWT==2.10.1

# Networking and web
requests==2.32.3
urllib3==2.3.0
idna==3.10
charset-normalizer==3.4.1
certifi==2025.1.31

# Compatibility
six==1.17.0
isodate==0.7.2
typing_extensions==4.12.2
